body, html{
    margin : 0;
    padding : 0;
    overflow : hidden;
    height:100%;
    width:100%;
    background-color: #6E6E6E;
}
#trains{
    height: 50%;
    width: 100%;
}
#stations{
    height: 50%;
    width: 100%;
    transform-origin: 50% 0%;
    transform: perspective(600px) translateZ(-150px) rotateX(45deg);
}